<header>
  <nav class="navbar navbar-default navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Recipe Book</a>
      <div class="collapse navbar-collapse">
        <div class="navbar-nav justify-content-between w-100">
          <div class="d-flex">
            <a class="nav-link" (click)="onSelect('recipe')" href="#">Recipes</a>
            <a class="nav-link" (click)="onSelect('shopping-list')" href="#">Shopping List</a>
          </div>

          <div>
            <button class="btn btn-light ml-auto">Save</button>
            <button class="btn btn-light ml-1">Fetch</button>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
